# Binarios compilados
order-management-service-ci
order-management-service
*.exe
*.exe~
*.dll
*.so
*.dylib
AWS_SETUP.md

# Test binaries
*.test

# Output de coverage
*.out

# Archivos de dependencias
vendor/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store

# Logs
*.log

# Go workspace file
go.work

